*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 300px;
    display: grid;
    grid-template-columns: repeat(2, 8rem);
    grid-template-rows: 14rem 2rem 14rem;
    gap: .5rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;
    background-color: black;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .4rem;
    color: #fff;
    user-select: none;
}

.computer-deck {
    background-color: black;
}

.player-deck {
    background-color: yellowgreen;
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid yellowgreen;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.card.red {
    color:white;
}

.card.black {
    color: white;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after{
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}

@media only screen and (max-width: 600px) {
    body {
      margin: 40%;
    }
  }