*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Migra';
}
/*Font*/
@font-face {
    font-family: 'Migra';
    src: local('Migra-Regular.ttf') format('truetype'), 
}

body {
    margin: 150px;
    display: grid;
    grid-template-columns: repeat(2, 11rem);
    grid-template-rows: 6rem 17rem 2rem 17rem 6rem;
    gap: 1rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1.5rem;
    background-color: black;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .4rem;
    color: #fff;
    user-select: none;
}

.computer-deck {
    background-color: black;
}

.player-deck {
    background-color: black;
}

h1 {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 100;
    font-kerning: auto;
    letter-spacing: 17px;
    font-size: 2.25rem;
}
.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid yellowgreen;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.card.red {
    color:white;
}

.card.black {
    color: white;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after{
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}

html {
    border: 2px solid yellowgreen;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    body {
      margin: 20%;
      grid-template-columns: repeat(2, 8rem);
      grid-template-rows: 3rem 13rem 2rem 13rem 3rem;
      gap: 1rem;
    }

    html {
        border: 1px solid yellowgreen;
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        overflow: auto;
    }

    h1{
        font-size: 1.5rem;
    }
}

@media only screen and (max-height: 900px) {
    body {
        margin: 5%;
        grid-template-columns: repeat(2, 8rem);
        grid-template-rows: 3rem 13rem 2rem 13rem 3rem;
        gap: 1rem;
      }
}