*, *::after, *::before {
    font-family: 'Migra';
    padding: 0;
    margin: 0;
}
/*Font*/
@font-face {
    font-family: 'Migra';
    src: local('Migra-Regular.ttf') format('truetype'), 
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.play-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .4rem;
    color: #fff;
    user-select: none;
}

.computer-deck {
    background-color: black;
    height: 180px;
    width: 136px;
}

.player-deck {
    background-color: black;
    height: 180px;
    width: 136px;
}

h1 {
    color: #fff;
    font-weight: 100;
    font-kerning: auto;
    letter-spacing: 17px;
    font-size: 2.25rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%
}

.text {
    height: 1.5rem;
    color: #fff;
    padding: .5rem;
    animation-duration: 1s;
    animation-name: fade;
}

.card {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 136px;
    border: 1px solid yellowgreen;
    border-radius: .4rem;
    font-size: 4rem;
    animation-duration: 1s;
    animation-name: fade;
}

@keyframes fade {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.card.red {
    color:white;
}

.card.black {
    color: white;
}

.card-slot {
    height: 182px;
    padding-left: 1.5rem;
}

.card::before,
.card::after {
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: 1rem;
    left: 1rem;
}

.card::after{
    bottom: 1rem;
    right: 1rem;
    transform: rotate(180deg);
}

/* html {
    border: 2px solid yellowgreen;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
} */

/* @media only screen and (max-width: 600px) {

} */

/* @media only screen and (max-height: 900px) {
    
} */